{% extends "base.html" %}

{% block content %}
    <h1>Drivers</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.firstName.label }}<br>
            {{ form.firstName(size=32) }}<br>
            {% for error in form.firstName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lastName.label }}<br>
            {{ form.lastName(size=32) }}<br>
            {% for error in form.lastName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.raceNum.label }}<br>
            {{ form.raceNum(size=4) }}<br>
            {% for error in form.raceNum.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.nationality.label }}<br>
            {{ form.nationality(size=32) }}<br>
            {% for error in form.nationality.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.team.label }}<br>
            {{ form.team }}<br>
            {% for error in form.team.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
{% endblock %}
